{% extends widget.get_base_template %}

{% load i18n %}
{% load thumbnail %}

{% block content %}

<style type="text/css">
.ih-item.circle.effect19 .info h3 {
    padding: 70px 0 0 0;
}

img.darken-img {
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
   -ms-transition: all 1s ease;
   transition: all 1s ease;
}

img.darken-img:hover {
   -webkit-filter: brightness(50%);
   filter: brightness(50%);
}

</style>

<div class="container">
{% for object in widget.list.link_set.all %}
<div class="col-sm-4">
    <div class="">
    <a href="{{ object.web_address }}" class="darken-img">
        <img style="width: 205px;" src="{{ object.image.url }}" alt="img" class="darken-img">
        <h3>{{ object }}</h3>
    </a>
    </div>
</div>
{% endfor %}
</div>
&nbsp;
{% endblock %}