// Vendor Components
@import "/bootstrap/scss/bootstrap";

@font-face {
    font-family: Gadugib;
    src: url("/static/fonts/gadugib.ttf") format("opentype");
}

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

body {
    width: 100%;
    height: 100%;
    font-family: $font-default;
    color: black;
    background-color: white;
    overflow-y: scroll;
    padding: 0px!important;
}

html {
    width: 100%;
    height: 100%;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: $primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    outline: medium none!important;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($primary,20%);
    }
}

.toolbar-image {
    width: 280px;
}

.toolbar-image-projitku {
    width: 280px;
}

.toolbar-heading {
    font-family: Gadugib;
    color: white;
    font-size: 70px;
}

.toolbar-heading-other {
    font-family: $font-default;
    color: white;
    font-weight: bold;
    font-size: 60px;
}

.entry-title, .entry-title a {
    color: white;
}

.heading-header {
    color: white;
    padding-right: 20px;
    float: left;
    margin: 0;
}

.light {
    font-weight: 400;
}

h4 a {
    color: white;
}

.navbar-custom {
    margin-bottom: 0;
    font-family: $font-default;
    background-color: #2398ff;
    border-bottom: 1px solid rgb(21, 135, 160);
    .nav a.btn.btn-default {
        padding: 3px 10px;
        margin-top: 12px;
        &:hover {
            background-color: #567329;
        }
    }
    .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: white;
        background-color: black;
        &:focus,
        &:active {
            outline: none;
        }
        .icon-bar {
            background: white;
        }
    }
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
    }
    a {
        color: white;
        font-weight: bold;
    }
    .nav {
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    color: rgba(white, 0.8);
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: rgba(white, 0.3);
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background-color: #2398ff;
            border-bottom: 1px solid rgb(21, 135, 160);
        }
    }
}

.content-section {
    padding-top: 100px;
}

.btn {
    font-family: $font-default;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid #909090;
    color: black !important;
    background-color: #ffffff;
    margin: 0px 8px;
    border-radius: 3px;
    &:hover,
    &:focus {
        border: 1px solid #828282;
        outline: none;
        color: black;
        background-color: #eaeaea;
    }
}

.btn.btn-danger {
    background-color: #db1646;
    &:hover {
        background-color: #a31034;
        border-color: #db1646;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.carousel-indicators li {
    border: 1px solid #db1646;
}

.carousel-indicators .active {
    background-color: #db1646;
}

.carousel-control .fa {
    color: #db1646;
}

.container.wrapper-box-blog {
    background-color: #6e9434;
    width: 100%;
    height: 100%;
}

.blog-preview-box {
    background-color: gray;
    height: 100%;
    width: 33%;
    padding: 7px;
    border: 5px solid #6e9434;
    margin-bottom: 10px;
    float: left;
    p {
        font-size: 16px;
        color: black;
    }
    h4 {
        color: white;
        transition: all 0.3s ease;
    }
    &:hover h4 {
        color: #80b93b!important;
    }
}

.leonardo-region {
    form {
        .form-group {
            margin-bottom: 9px;
        }
        label {
            display: none;
        }
        .form-control {
            display: block;
            width: 100%;
            border: none!important;
            height: 34px;
            text-align: center;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857;
            font-weight: bold;
            border-radius: 1px;
            color: #1f1f1f;
            background-color: #CCC;
        }
        ::-webkit-input-placeholder {
           color: gray!important;
        }

        :-moz-placeholder { /* Firefox 18- */
           color: gray!important;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
           color: gray!important;
        }

        :-ms-input-placeholder {  
           color: gray!important;
        }
        textarea {
            height: 170px!important;
            resize: none;
        }
        .buttonHolder {
            text-align: center;
            input#submit-id-submit {
                text-align: center;
                background-color: #bf2828;
                border: 1px solid #bf2828;
                padding: 8px 46px;
            }
        }
        .buttonHolder input#submit-id-submit:hover {
            background-color: #8a1a1a;
            border: 1px solid #8a1a1a;
        }
    }
}

.bg-gray {
    padding: 54px 0px;
    background-color: #e8e8e8;
    background-image: url('/static/img/pomoc_panacek.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 215px;
}

.bg-white {
    padding: 54px 0px;
    background-color: #ffffff;
}

footer {
    background-color: #2398ff;
    padding: 50px 0;
    display: block;
    a {
        color: #ffffff;
    }
    p {
        margin: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: rgba($primary, 0.6);
    color: white;
}

::selection {
    text-shadow: none;
    background: rgba($primary, 0.6);
    color: white;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

.modal-open .modal {
    color: black;
}

.bg-map {
    padding: 0px;
}

.bg-intro {
    color: white;
    display: table;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
    background-position: center;
    background-image: url("/static/img/pozadi2.jpg");
    &.cjtznmc {
        background-image: none;
        background-color: #338DC9;
    }
    &.ojitce {
        background-image: url("/static/img/pozadi_o_jitce.JPG");
    }
    &.dekujeme {
        background-image: url("/static/img/pozadi4b.jpg");
    }
    background-attachment: fixed;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 100px;
        }
        .intro-text {
            font-size: 26px;
        }
    }
}

.border-light {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    height: 3px;
    margin: 0 auto;
    width: 50px;
    margin-bottom: 40px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    float: left;
}

div.section-heading:hover {
    .border-light {
        width: 100px;
    }
}

.navbar-collapse {
    box-shadow: none;
}

.navbar-custom .navbar-toggle {
    padding: 8px 6px;
    background-color: transparent;
}

.hentry {
    background-color: rgba(0, 0, 0, 0.51);
    padding: 40px;
}

/* smartphones */
@media only screen and (max-width: 760px) {
    .toolbar-image-projitku {
        width: 130px;
    }
    .toolbar-image {
        width: 200px;
    }
    .img-responsive.image-header {
        margin-top: 12px!important;
    }
    .toolbar-heading {
        font-family: Gadugib;
        color: white;
        font-size: 35px;
    }
    .toolbar-text {
        margin-top: -33px!important;
    }
    .image-ojitce {
        width: 70px!important;
    }
    .toolbar-text-responsive {
        font-size: 15px;
    }
}
