// Vendor Components
@import "/bootstrap/scss/bootstrap";

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

body {
    width: 100%;
    height: 100%;
    font-family: $font-default;
    color: black;
    background-color: white;
    overflow-y: scroll;
    padding: 0px!important;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: $font-default;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: $primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    outline: medium none!important;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($primary,20%);
    }
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(white, 0.3);
    font-family: $font-default;
    background-color: black;
    .nav a.btn.btn-default {
        padding: 3px 10px;
        margin-top: 12px;
        &:hover {
            background-color: #567329;
        }
    }
    .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: white;
        background-color: black;
        &:focus,
        &:active {
            outline: none;
        }
        .icon-bar {
            background: white;
        }
    }
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
    }
    a {
        color: white;
    }
    .nav {
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    color: rgba(white, 0.8);
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: rgba(white, 0.3);
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background: black;
            border-bottom: 1px solid rgba(white, 0.3);
        }
    }
}

.content-section {
    padding-top: 100px;
}

.btn {
    font-family: $font-default;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid $primary;
    color: black!important;
    background-color: $primary;
    margin: 0px 8px;
    &:hover,
    &:focus {
        border: 1px solid #567329;
        outline: none;
        color: black;
        background-color: #567329;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.container.wrapper-box-blog {
    background-color: #6e9434;
    width: 100%;
    height: 100%;
}

.blog-preview-box {
    background-color: gray;
    height: 100%;
    width: 32%;
    padding: 7px;
    margin: 5px;
    margin-bottom: 10px;
    float: left;
}
.leonardo-region {
    form {
        .form-group {
            margin-bottom: 9px;
        }
        label {
            display: none;
        }
        .form-control {
            display: block;
            width: 100%;
            border: none!important;
            height: 34px;
            text-align: center;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857;
            font-weight: bold;
            border-radius: 1px;
            color: #1f1f1f;
            background-color: #CCC;
        }
        ::-webkit-input-placeholder {
           color: gray!important;
        }

        :-moz-placeholder { /* Firefox 18- */
           color: gray!important;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
           color: gray!important;
        }

        :-ms-input-placeholder {  
           color: gray!important;
        }
        textarea {
            height: 170px!important;
            resize: none;
        }
        .buttonHolder {
            text-align: center;
        }
    }
}

footer {
    background-color: #2398ff;
    padding: 50px 0;
    display: block;
    p {
        margin: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: rgba($primary, 0.6);
    color: white;
}

::selection {
    text-shadow: none;
    background: rgba($primary, 0.6);
    color: white;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

.modal-open .modal {
    color: black;
}

.bg-map {
    padding: 0px;
}

.bg-intro {
    color: white;
    display: table;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
    background-image: url("/static/img/intro-bg.jpg");
    background-attachment: fixed;
    &.parallax {
        padding: 100px 0;
        background-position: 0 0;
        background-image: url("/static/img/intro-bg.jpg");
    }
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 100px;
        }
        .intro-text {
            font-size: 26px;
        }
    }
}

.border-light {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    height: 3px;
    margin: 0 auto;
    width: 50px;
    margin-bottom: 40px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    float: left;
}

div.section-heading:hover {
    .border-light {
        width: 100px;
    }
}
