
{% extends widget.get_base_template %}
{% load i18n thumbnail feincms_tags %}

{% block content %}
&nbsp;
<hr>
&nbsp;

<div class="row">
{% for item in widget.get_items %}
    {% if forloop.first %}
    <div class="container">
    <div class="col-xs-12 preview-box-inner">{% feincms_render_region item "preview" request %}</div>
    </div>
    {% endif %}
    <a href='{{ item.get_absolute_url }}'>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <p style="">{{ item.published_on|date:"j. m. Y" }}</p>
                <h4 style="color: black">{{ item.title }}</h4>
            </div>
        </div>
    </div>
    </a>
{% endfor %}
</div>

{% endblock %}
