
{% extends widget.get_base_template %}
{% load i18n thumbnail feincms_tags %}

{% block content %}

<div class="container wrapper-box-blog">
{% for item in widget.get_items %}
    {% if forloop.first %}
    <div class="col-xs-12 preview-box-inner">{% feincms_render_region item "preview" request %}</div>
    {% endif %}
    <div class="blog-preview-box">
        <div class="">{{ item.published_on|date:"j. m. Y" }}</div>
        <h3><a href='{{ item.get_absolute_url }}'>{{ item.title }}</a></h3>
    </div>
{% endfor %}
</div>

{% endblock %}
