<!DOCTYPE html>
{% load leonardo_tags feincms_page_tags applicationcontent_tags branding i18n %}
{% load analytical %}
<html>
  <head>
    {% analytical_head_top %}
    {% include "_header.html" %}
    {% analytical_head_bottom %}
  </head>
  <body id="{% block body_id %}main_content{% endblock %}" data-spy="scroll" data-target=".navbar-fixed-top" ng-app='horizon.app' ng-strict-di class="">
    <noscript>
      <div class="javascript_disabled_alert">
        {% trans "This application requires JavaScript to be enabled in your web browser." %}
      </div>
    </noscript>
    {% analytical_body_top %}
    {% include "horizon/_messages.html" %}
    <nav id="mainNav" class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        {% feincms_render_region feincms_page "header" request %}
      </div>
    </nav>
    <header class="bg-intro {% if 'co-je-to-za-nemoc' in request.path %}cjtznmc{% elif 'o-jitce' in request.path %}ojitce{% elif 'dekujeme' in request.path %}dekujeme{% endif %}" {% if request.path == '/' %}style="background-position: 0px!important"{% endif %}>
      <div class="intro-body">
        <div class="container">
          {% feincms_render_region feincms_page "toolbar" request %}
          {% render_region_tools feincms_page "toolbar" request %}
          {% block body_main %}{% endblock %}
        </div>
      </div>
    </header>
    <section class="container-fluid content-section text-center">
    {% feincms_render_region feincms_page "col3" request %}
    {% render_region_tools feincms_page "col3" request %}
    </section>
    <footer>
      <div class="container">
        {% feincms_render_region feincms_page "footer" request %}
      </div>
    </footer>
    {% feincms_render_region feincms_page "helper" request %}
    {% include "horizon/_scripts.html" %}
    <div id="modal_wrapper"></div>
    {% analytical_body_bottom %}
    <script type="text/javascript">
      $('html,body').animate({
        scrollTop: $(location.hash).offset().top
      }, 1000);
    </script>
  </body>
</html>
